<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head layout:fragment="head_title">
    <title>Rejestracja</title>
</head>

<body>


<header layout:fragment="banner" class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">

            <span th:text="#{registration.plan.selected(${plan})}"></span>
            <p th:text="#{registration.plan.create.account}"></p>

            <a th:href="@{/signup/plan/{plan}/regform(plan=${plan})}" th:text="#{planSelection_button_continue}"></a><br>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>


<div layout:fragment="content">
    <header>

    </header>
</div>
</body>


<body>

</body>
</html>
