<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<head layout:fragment="head_title">
    <title>Rejestracja</title>
</head>

<body>


<header layout:fragment="banner" class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">

            Wybrany plan to <span th:text="${plan}"></span><br>
            <form th:action="@{/signup/user-signup}" th:object="${userRegistrationForm}" method="post">
                <input th:type="text" th:field="*{name}" th:placeholder="#{register.form.name}"> <br>
                <input th:type="email" th:field="*{emailAdress}" th:placeholder="#{register.form.email}"> <br>
                <input th:type="password" th:field="*{password}" th:placeholder="#{register.form.password}"> <br>
                <input th:type="text"th:field="*{city}" th:placeholder="#{register.form.city}"> <br>
                <input disabled type="text" name="accountPlan" th:value="${plan}"> <br>

                <br><button type="submit">Wyślij rejestracje</button>
            </form>

        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>


<div layout:fragment="content" >
    <header>

    </header>
</div>
</body>



<body>

</body>
</html>
